@charset "UTF-8";
@charset 'UTF-8';
@import 'reset';

.del {
    display: inline-block;
    padding: 10px 40px;
    background: linear-gradient(30deg, #00aeff, aqua);
    font: bold 14px/1 'arial';
    color: #fff;
    margin: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0,255,255,.5);
}

.view {
    display: inline-block;
    padding: 10px 40px;
    background: linear-gradient(30deg, #e92dfa, hotpink);
    font: bold 14px/1 'arial';
    color: #fff;
    margin: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(255, 105, 180, .5);
}

#popup {
    width: 500px;
    padding: 40px;
    background: linear-gradient(30deg, lightgreen, #28fad7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgba(144, 238, 144, .4);
    display: none;

    .content {
        width: 100%;
        min-height: 150px;
        color: #fff;
        font-size: 30px;        
    }
    .wrap {
        display: inline-flex;

        input {
            border: none;
            vertical-align: middle;
            margin-right: 10px;
            position: relative;
            top: 2px;
        }
        label {
            color: #fff;
            vertical-align: middle;
            font-size: 12px;
        }
    }
    .close{
        position: absolute;
        bottom: 40px;
        right: 40px;
        color: #fff;
    }
}