@charset "UTF-8";
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

.join{
    width: 100%;
    padding: 9.375rem 0;

    .inner {
        width: 73.75rem;
        margin: 0 auto;
    }

    h1 {
        font: normal 3.75rem/1 'Raleway';
        color: #555;
        margin-bottom: 3.125rem;
    }

    table {
        width: 100%;
        border: none;
        border-top: 0.125rem solid #333;
        border-bottom: 0.125rem solid #333;
    }

    th, td {
        border: none;
        border-bottom: 0.063rem solid #ddd;
        padding: 1rem 1.563rem;
    }

    th {
        width: 20%;

        input[type=reset], input[type=submit] {
            width: 30%;
            height: 2.5rem;
            border: 0.063rem solid #333;
            margin: 0.625rem;
            font: bold 0.875rem/2.5rem 'arial';
            color: #555;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                background: #333;
                color: #fff;
            }
        }
    }

    td {
        border-left: 0.063rem solid #ccc;

        input[type=text], input[type=password], select {
            width: 60%;
            background: rgba(0, 0, 0, 0.03);
            border: 0.063rem solid #aaa;
            padding: 0.625rem;
        }

        input[type=checkbox], input[type=radio] {
            margin-right: 1.875rem;
        }

        textarea {
            width: 60%;
            height: 9.375rem;
            background: rgba(0, 0, 0, 0.03);
            border: 0.063rem solid #aaa;
            padding: 0.625rem;
            resize: none;
        }

        p {
            font: 0.688rem/1 'arial';
            color: tomato;
            margin-top: 0.313rem;
            margin-bottom: 0.313rem;
        }
    }
}